$black: #000000;
$white: #FFFFFF;


$neutral-700: #1F1F1F;
$neutral-600: #4B4B4B;
$neutral-500: #8E8E8E;
$neutral-400: #CACACA;
$neutral-300: #E1E1E1;
$neutral-200: #EEEEEE;
$neutral-100: #F5F5F5;
$neutral-50: #FAFAFA;

$auxillary-700: #00ABB6;
$auxillary-600: #15C5CE;
$auxillary-500: #47CFD6;
$auxillary-400: #7DDDE1;
$auxillary-300: #B0EBEC;
$auxillary-200: #DFF7F7;
$auxillary-100: #EEFCFC;
$auxillary-50: #F9FFFF;

$primary-700: #FE632F;
$primary-600: #FF8156;
$primary-500: #FFA487;
$primary-400: #FFC8B6;
$primary-300: #FFE1D6;
$primary-200: #FFF2EE;
$primary-100: #FFF6F3;
$primary-50: #FFFCFC;

$danger-700: #EC2D30;
$danger-600: #F64C4C;
$danger-500: #EB6F70;
$danger-400: #F49898;
$danger-300: #FFCCD2;
$danger-200: #FFEBEE;
$danger-100: #FEF2F2;
$danger-50: #FFFBFB;

$warning-700: #FE9B0E;
$warning-600: #FFAD0D;
$warning-500: #FFC62B;
$warning-400: #FFDD82;
$warning-300: #FFEAB3;
$warning-200: #FFF7E1;
$warning-100: #FFF9EE;
$warning-50: #FFFDFA;

$success-700: #0C9D61;
$success-600: #47B881;
$success-500: #6BC497;
$success-400: #97D4B4;
$success-300: #C0E5D1;
$success-200: #C0E5D1;
$success-100: #F2FAF6;
$success-50: #FBFEFC;

$info-700: #3A70E2;
$info-600: #3B82F6;
$info-500: #4BA1FF;
$info-400: #93C8FF;
$info-300: #BDDDFF;
$info-200: #E4F2FF;
$info-100: #F1F8FF;
$info-50: #F8FCFF;






